<template>

        <canvas ref="myChart" width="500" height="300" style="display: block; width: 1109px; height: 450px;"></canvas>



</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: 'customers-chart',
        mounted() {
            new Chart(this.$refs.myChart, {
                type: 'line',
  data: {
    labels: ['2015-12-31', '2015-16-31', '2017-12-31', '2018-12-31', '2019-12-31'],
    datasets: [
      
      { // another line graph
        label: 'Planet Mass (x1,000 km)',
        data: [0,20000,25000,40000 ,55000,60000, 80000,90000, 100000, 120000,],
        backgroundColor: [
          '#68b4d152', // Green
        ],
        borderColor: [
          '#2196f3',
        ],
        borderWidth: 3
      }
    ]
  },
  options: {
    responsive: true,
    lineTension: 1,
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          padding: 25,
        }
      }]
    }}
            });
        }
    }
</script>

<style scoped>

</style>
