<template>

        <canvas ref="myChart"  style="display: block; width: 1109px; height: 450px;"></canvas>



</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: 'customers-chart',
        mounted() {
            new Chart(this.$refs.myChart, {
                type: 'bar',
  data: {
    labels: ['2002-12-31','2003-12-31','2004-12-31','2005-12-31','2006-12-31','2007-12-31','2008-12-31','2007-12-31','2008-12-31','2009-12-31','2010-12-31','2011-12-31','2012-12-31','2013-12-31','2014-12-31','2015-12-31', '2015-16-31', '2017-12-31', '2018-12-31', '2019-12-31','2020-12-31'],
    datasets: [
      
      { // another line graph
        label: 'Planet Mass (x1,000 km)',
        data: [12,6,0,0,0,5, 5,2,0,0,5,3,16,6,4,6,0,0,0,2],
        backgroundColor: [
          'red', // Green
        ],
        borderColor: [
          '#2196f3',
        ],
        borderWidth: 3
      }
    ]
  },
  options: {
    responsive: true,
    lineTension: 1,
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          padding: 25,
        }
      }]
    }}
            });
        }
    }
</script>

<style scoped>

</style>
