<template>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>کپی رایت &copy; Test front</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
