<template>
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <router-link class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
            <div class="sidebar-brand-icon">
                <span>logo</span>
            </div>
            <div class="sidebar-brand-text mx-3">Test Chart</div>
        </router-link>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div class="user-profile text-center d-lg-block d-none">
            <img src="https://source.unsplash.com/QAB-WJcbgJk/200x200" class="mx-auto img-fluid mt-3">
            <h5>تستر 9</h5>

        </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <router-link class="nav-link" to="/" >
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="mr-1">داشبورد</span></router-link>
        </li>

        <li class="nav-item">
            <router-link class="nav-link" to="myorder">
                <i class="fas fa-fw fa-list"></i>
                <span class="mr-1">سفارش های  من</span></router-link>
        </li>


        <li class="nav-item">
            <router-link class="nav-link " to="customersorder" >
                <i class="fas fa-fw fa-chart-area"></i>
                <span class="mr-1">سفارش مشتریان</span></router-link>
        </li>

    </ul>
    <!-- End of Sidebar -->
</template>

<script>
    export default {
        name: "Sidebar",
    }
</script>

<style scoped>

</style>
