<template>
    <div id="app">

        <div id="wrapper">

            <sidebar/>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <navigation/>

                <router-view />

                </div>
                <!-- End of Main Content -->

                <Footer/>

            </div>
            <!-- End of Content Wrapper -->


        </div>


    </div>
</template>

<script>

    import Navigation from "./components/layouts/Navigation";
    import Sidebar from "./components/layouts/Sidebar";
    import Footer from "./components/layouts/Footer";

    export default {
        name: 'App',
        components: {
            Footer,
            Sidebar,
            Navigation

        },
    }
</script>

<style>
</style>
